*.pyc
*.log
*.zip
*.pkl
./config.json
build
data
dist
src

# Android Studio files
.idea/*
!.idea/codeStyleSettings.xml
*.egg-info

Pipfile
Pipfile.lock

__pycache__
.cache

# Used for virtualenv
env

# Visual Studio Code workspace settings folder
.vscode